<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSoC_YdWonvjqmtJsnuP-EJPXjlCQoYSM</string>
	<key>GCM_SENDER_ID</key>
	<string>807383020417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyroInvoicing</string>
	<key>PROJECT_ID</key>
	<string>biryani-by-flame-433bf</string>
	<key>STORAGE_BUCKET</key>
	<string>biryani-by-flame-433bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807383020417:ios:338a6e166d9b63951aee80</string>
</dict>
</plist>